<%- include('partials/header', {pageTitle: "Audit"}) %>

<body>
    <%- include('partials/navbar') %>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Domain Audit</h1>
        <form method="POST" action="/audit">
            <div class="mb-3">
                <input type="text" class="form-control" id="urls" name="urls" placeholder="Enter URLs">
                <div id="url-help" class="form-text">You may put in multiple domains separated by comma. Example:
                    "domain1.cz,domain2.com,domain3.eu"</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <% if(results.length> 0) { %>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach(result=> { %>
                        <tr>
                            <td>
                                <%= result.domain %>
                            </td>
                            <td title="<%= result.reason %>">
                                <%= result.status %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
                <caption class="form-text">Tip: Hover over status to get a detailed description</caption>
            </table>
        </div>
        <% } %>
</body>

</html>